<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menu Estoque</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nome do Estoque</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-button>Vencimento</ion-button>
    <ion-button>Lista de Compras</ion-button>
    <ion-button id="open-modal" expand="block">Categoria</ion-button>
    <ion-button>Histórico</ion-button>
  </form>

  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="modal.present()">Criar+</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <form>
    <ion-item>
      <ion-input label="Input with placeholder" placeholder="nome, código de barra, categoria"></ion-input>
      <ion-button>Pesquisa</ion-button>
    </ion-item>
  </form>

  <form>
    <ion-item>
      <ion-label>Vencido</ion-label>
      <ion-button>Cor Vencida</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Em Vencimento</ion-label>
      <ion-button>Em Vencimento</ion-button>
    </ion-item>

    <ion-list [inset]="true">
      <ion-item>
        <ion-label>Estoque Criado</ion-label>
        <ion-button>Apagar</ion-button>
        <ion-button>Editar</ion-button>
      </ion-item>
    </ion-list>
  </form>

  <ion-modal trigger="open-modal" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <form [formGroup]="categoriaForm" (ngSubmit)="onSubmit()">
          <ion-item>
            <ion-label>Nova Categoria</ion-label>
            <ion-input type="text" formControlName="categoria" placeholder="Digite o nome da categoria"></ion-input>
          </ion-item>
          <ion-button expand="full" type="submit" [disabled]="categoriaForm.invalid">Confirmar</ion-button>
        </form>
        <ion-alert
          trigger="alert"
          header="O estoque foi salvo"
          [buttons]="alertButtons">
        </ion-alert>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
