<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="historicoForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Acao</ion-label>
      <ion-select formControlName="acao">
        <ion-select-option value="comprou">Compra</ion-select-option>
        <ion-select-option value="vendeu">Venda</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Produto</ion-label>
      <ion-input type="text" formControlName="produto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" formControlName="quantidade"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="historicoForm.invalid">Salvar</ion-button>
  </form>

  <ion-list [inset]="true">
    <ng-container *ngFor="let historico of historicos">
      <ion-item>
        <ion-label>{{ historico.Produto }}</ion-label>
        <ion-label>{{ historico.Quantidade }}</ion-label>
        <ion-label>{{ historico.Acao }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
