<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Histórico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="voltar()">Voltar</ion-button>

  <!-- Filtro por data -->
  <ion-item>
    <ion-label>Filtrar por Data</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" (ionChange)="onDateChange($event)" placeholder="Selecione a Data"></ion-datetime>
  </ion-item>

  <!-- Botão para aplicar o filtro -->
  <ion-button expand="full" (click)="filtrarHistoricoPorData()">Filtrar Histórico</ion-button>

  <form [formGroup]="historicoForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Ação</ion-label>
      <ion-select formControlName="acao">
        <ion-select-option value="comprou">Compra</ion-select-option>
        <ion-select-option value="vendeu">Venda</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Produto</ion-label>
      <ion-select formControlName="produto">
        <ion-select-option *ngFor="let produto of produtos" [value]="produto.id">
          {{ produto.Nome }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantidade</ion-label>
      <ion-input type="number" formControlName="quantidade"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="historicoForm.invalid">Salvar</ion-button>
  </form>

  <!-- Lista de histórico filtrado -->
  <ion-list [inset]="true">
    <ng-container *ngFor="let historico of historicosFiltrados">
      <ion-item>
        <ion-label>{{ getProdutoNome(historico.Produto) }}</ion-label>
        <ion-label>{{ historico.Quantidade }}</ion-label>
        <ion-label>{{ historico.Acao }}</ion-label>
        <ion-label>{{ historico.Data | date: 'dd/MM/yyyy' }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>
