<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>estoques criados</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-toolbar>

      <ion-buttons slot="secondary">
        <ion-button color="blue">Criar+</ion-button>
      </ion-buttons>
    
    </ion-toolbar>

  </div>

  <form action="">
    <ion-list [inset]="true">

      <ion-item-sliding>

        <ion-item>
          <ion-label>estoque criado</ion-label>
        </ion-item>

        <ion-item-options>
          <ion-button color="danger">apagar</ion-button>
          <ion-button>editar</ion-button>
        </ion-item-options>

      </ion-item-sliding>

    </ion-list>
  </form>
</ion-content>